body {
 font-family: 'Ubuntu', sans-serif;
 background-color: #EEF2FF;
}
.cuadros img{
  width: 100%;
  height: 250px;
}
.barrafija{
  background-color: black;
  position: fixed;
  z-index: 2;
  width: 100%;
  text-align: right;
}
nav ul {
  display: inline-block;
}

nav ul li {
  display: inline-block;
  color: white;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.encabezado img{
  width: 100%;
}

.donar{
  text-decoration: none; 
  color: red;

}
.nosotros{
  height: 300px;
  text-align: center;
  background-color: white;
  margin-top: 50px;
  font-size: 2rem;
}
.boton{
  color: white;
  text-decoration: none;
  background-color: blue;
}
.donaciones{
  background-color: white;
  height: 400px;
  text-align: center;
}
.cuadros{
  margin: 0px;
  height: 950px;
  text-decoration: center;
}
.noticias{
  height: 300px;
  box-sizing: border-box;
  text-decoration: center;
}
.actividades{
  height: 300px;
  box-sizing: border-box;
}
.recursos{
  height: 300px;
  box-sizing: border-box;
}
.redes{
  height: 300px;
  text-align: center;
}
.ultimo{
  background-color: black;
}
.centrar{
  margin: 20px;
}
footer {
  background-color: black;
  text-align: center;
}